@*@model MC3_Music.Controllers.CheckoutController*@
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "CartView";
}

@if (Request.IsAuthenticated & !User.IsInRole("CanManageAlbums"))
{
    using (Html.BeginForm("CartView", "Checkout", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "cartview", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    @*<li>
        @Html.ActionLink("Cart", "CartView", "Checkout")
    </li*@>
    @*<li>
            @Html.ActionLink("Cart", "CartView", routeValues: null, htmlAttributes: new { title = "Cart" })
        </li>*@
    <li><a href="javascript:document.getElementById('cartview').submit()">Cart</a></li>
</ul>
    }
}

else
{

    @*<ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Account", "Index", "Account", routeValues: null, htmlAttributes: new { id = "accountLink" })</li>
        </ul>*@
}
