@{
    ViewBag.Title = "Login";
}


@*@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
<link href="@Url.Content("/css/style.css")" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<section id="loginAndRegister">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="login">
                    <h1>Log in with your email account</h1>
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="key" id="key" class="form-control" placeholder="Password">
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Log in">
                    </form>
                    <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
                    <hr>
                </div>
                <!-- /.container -->
            </div>
            @*<div class="col-xs-6">
                <div class="createAccount">
                    <h1>Create a new account</h1>
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="somebody@example.com">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" name="key" id="key" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Re-enter Password</label>
                            <input type="password" name="key" id="key" class="form-control" placeholder="Re-enter Password">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">First Name</label>
                            <input id="firstName" class="form-control" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Last Name</label>
                            <input id="lastName" class="form-control" placeholder="Last Name">
                        @*</div>*@
                        @*<input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Create Account">*@
                    @*</form>
                    <hr>
                </div>*@
                <!-- /.container -->
          </div><!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    @*</div> <!-- /.modal -->*@
    </section>