
@{
    ViewBag.Title = "CartView";
}

<h2>CartView</h2>
<table class="table">
    <thead>
        <tr>
            <th>Album</th>
            <th>Qty</th>
            <th>Amount</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tr>
        <td class="albumColumn">Album Name</td>
        <td class="quantityColumn">1</td>
        <td class="priceColumn">20</td>
        <td>
            <button type="button" class="btn-default">Remove</button>
        </td>
    </tr>
    </table>

