
@{
    ViewBag.Title = "PaymentConfirmation";
}

<div class="col-lg-4"></div>
<div class="col-lg-4">
    <h1>Your payment has been confirmed</h1>
    <h3>Enjoy your tunes!</h3>
</div>
<div class="col-lg-4"></div>

