@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About MC3
                <small></small>
            </h1>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://flipsy.com/blog/images/Vinyl99.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Welcome to 'Modern Business'</h2>
            <p>MC3 is the place to find all of your music needs.  Any artist, any genre, any song. With MC3, the possibilities are endless.</p>
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        </div>
    </div>
    <!-- Team Member Profiles -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-6">
            <img src="http://nebula.wsimg.com/9c49e284a0e85395a0efad5518a00407?AccessKeyId=F5A4A0EC1BEFFA4D7976&disposition=0&alloworigin=1" class="img-responsive">
            <h3>
                Casey Clark
                <small>CFO</small>
            </h3>
            <p>
                Casey Clark serves as our CFO. He oversees the financial operations and makes sure the company cash flows are in the green. He also oversees the hiring of new employees and general payroll duties. Casey now resides in Hope Hull, Alabama – where he practice counseling and helping the public change their family trees.

            </p>

        </div>
        <div class="col-sm-6">
            <img src="https://www.bakadesuyo.com/wp-content/uploads/2013/05/James-Bond.jpg" class="img-responsive">
            <h3>
                Chris Painter
                <small>CEO</small>
            </h3>
            <p>
                Hailing from Austin, Texas, Chris Painter serves as the CEO for MC3 music. Appointed in April of 2018, Chris has managed MC3 and its assets as well as overseeing the acquisition of other technologies to add to MC3’s business.

            </p>
        </div>
            </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="https://www.biography.com/.image/t_share/MTE1ODA0OTcxNTI3OTk2OTQx/kristen-wiig-586136-2-raw.jpg" class="img-responsive">
                <h3>
                    Madison Frazer
                    <small>COO</small>
                </h3>
                <p>
                    Graduating from Emory University, Madison Frazer has worked with both Spotify and Netflix before coming to MC3 music. She currently serves as our COO providing invaluable expertise and workflow optimizations allowing our company to thrive.

                </p>

            </div>
            <div class="col-sm-6">
                <img src="https://www.thewrap.com/wp-content/uploads/2017/10/JohnKrasinskiJackRyan1.jpg" class="img-responsive">
                <h3>
                    Clayton Guillot
                    <small>President of Marketing</small>
                </h3>
                <p>
                    Originally from Montgomery, Alabama, Clayton Guillot had a dream of a sleek, fast, and cheap way to buy vinyl. Clay first presented the idea in April of 2018 and gathered enough capital to lift the idea into reality. Clay now resides in his favorite place of Huntingdon Beach, California- watching anime, selling manga out of his garage, and attending ComicCon and AnimeCon when able to do so.

                </p>
            </div>


        </div>

    </div>
